# Ignore Ansible collections
**/ansible_collections/
**/collections/
# Ignore  Python .venv since they are local to everybody
**/.venv
**/.venv_wsl
# Terraform
terraform/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json